body {
    background-color: rgb(237, 241, 239);   
 }

hr {
     background-color: white;
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
     width: 10%;
 }

h3{
   color: rgb(135, 130, 233);
 } 

h1{
   color: rgb(135, 130, 233);
 }
